@using TestTask.Models
@model IEnumerable<Room>
@{
    ViewData["Title"] = "Справочник адресов";
}

<a asp-action="Create">Добавить адрес</a>
<table class="table">
    <tr>
        <th>Страна</th>
        <th>Город</th>
        <th>Улица</th>
        <th>Здание</th>
        <th>Офис\Квартира</th>
        <th></th>
    </tr>
    @foreach (Room p in Model)
    {
<tr>
    <td>@p.Country</td>
    <td>@p.City</td>
    <td>@p.Street</td>
    <td>@p.Build</td>
    <td>@p.Office</td>
    <td>
        <form asp-action="Delete" asp-route-id="@p.Id" method="post">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@p.Id">Изменить</a>
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>
    </td>
</tr>
    }
</table>